 body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
  background-position: top center;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 10px 41px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.top-header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;

  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: transparent;
}

.top-header-wrapper {
  width: 100%;
  margin-bottom: 0px;

  background-color: #293449;
}

.top-header a {
  display: block;
}

.main-logo {
  position: relative;

  width: 110px;
  padding: 9px 55px;

  font-size: 24px;
  line-height: 24px;
  vertical-align: middle;
  border-radius: 0;
}

.main-logo::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  top: 42px;
  left: 0;
  background-color: #b52933;

}

.search-form input {
  box-sizing: border-box;

  width: 270px;
  padding: 12px 50px;
  border: none;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  vertical-align: middle;

  background-color: #293449;

}

.search-form input::-moz-placeholder {
  color: #ffffff;
}
.search-form input::-webkit-input-placeholder {
  color: #ffffff;
}

.search-form input::-ms-input-placeholder {
  color: #ffffff;
}

.search-form input:hover {
  background-color: #212a3a;
  outline: none;
}

.search-form input:focus {
  color: #000000;

  background-color: #ffffff;
  outline: none;
}

.top-header-button {
  box-sizing: border-box;
  width: 150px;
  padding: 12px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;

  background-color: #293449;
}

.bookmark-button {
  padding-left: 44px;
  padding-right: 29px;
}

.basket-button {
  padding-left: 50px;
  padding-right: 31px;
}

.order-button {
  padding-left: 21px;
  padding-right: 23px;

  background-color: #63a63e;
}

.order-button:hover,
.order-button:focus {
  background-color: #5fbb2d;
}

.order-button:active {
  background-color: #518534;
}

.user-header {
  width: 100%;
  margin: 0;
  padding-top: 46px;
  padding-bottom: 60px;

  background-color: #f4f7f9;
}

.user-header-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;


  width: 940px;
  margin: 0 auto 25px;
  padding: 0;


  font-family: "Cuprum", Arial, sans-serif;

  background-color: transparent;
}

.shop {
  display: block;

  width: 197px;
  margin-top: -20px;
  margin-right: 69px;
  margin-left: 52px;

  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
  white-space: pre-line;
}

.header-contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  width: 270px;
  margin: 0;
  margin-right: auto;
  padding: 0;
}

span.phone {
  display: block;

  width: 149px;
  padding: 10px 43px 9px 72px;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.header-contacts p {
  display: block;

  margin-top: 2px;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-navigation,
.site-navigation,
.slider-list,
.catalog-list,
.brands-catalog,
.services-catalog,
.footer-site-navigation,
.footer-items {
  list-style: none;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  margin: 0;
}

.user-navigation a {
  display: inline-block;
  padding: 11px 25px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.login-link a {
  padding-left: 48px;
  margin-right: 10px;
}

.user-online {
  width: 302px;
}

.user-profile a {
  padding-left: 47px;
  padding-right: 69px;
}

.user-profile a:hover,
.user-profile a:focus {
  color: #000000;
}

.user-references a {
  display: block;
  margin: 10px 18px;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;

  background: none;
}

.user-references:last-child {
  margin-left: -3px;
  margin-right: auto;
}

.user-navigation a:hover,
.user-navigation a:focus,
.user-references a:hover,
.user-references a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.user-references a:active {
  color: #32425c;
  opacity: 0.3;
}

.main-navigation {
  width: 900px;
  margin: 0 auto;
  padding: 0 20px;

  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.site-navigation a {
  display: block;

  padding: 21px 30px;
  padding-left: 30px;
  margin: 0 0;

  font-family: "Cuprum", Arial, sans-serif;
  vertical-align: middle;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.main-navigation a:hover,
.main-navigation a:focus {
  background-color: #293449;
}

.main-navigation a:active {
  opacity: 0.5;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding-top: 59px;

  background-color: #ffffff;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
  margin-bottom: 33px;
}

.sales-delivery-container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.item {
  display: block;

  width: 253px;
  height: 79px;
  padding: 22px;
  padding-right: 23px;
  margin-bottom: 20px;
}

.item p {
  display: block;

  margin-bottom: 11px;
  margin-top: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.item a {
  display: block;

  width: 135px;
  padding: 11px 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  background-color: rgba(0, 0, 0, 0.1);
}

.item a:hover,
.item a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.item-material {
  background-color: #ffbf47;
}

.item-tools {
  background-color: #3bbce3;
}

.item-equipment {
  background-color: #dc91d8;
}

.item-sales {
  background-color: #8ed78f;
}

.item-delivery {
  background-color: #ffc047;
}

.slider-container {
  width: 620px;
  box-sizing: border-box;
  min-height: 266px;
  margin-bottom: 20px;

  background-color: grey;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item {
  display: none;
}

.slider h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;

}

.slider p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  padding-bottom: 63px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 5px 0px;

  background-color: #f9f5f0;
}

.heading h2 {
  display: block;
  margin-left: 30px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  font-weight: normal;
}

.brands .heading h2 {
  margin-left: 26px;
}

.heading .button {
  padding: 10px 55px;

  margin-right: 24px;
}

.button.button-brands {
  padding: 10px 70px;
}

.catalog-item {
  position: relative;
  width: 218px;
  height: 316px;
  margin-bottom: 20px;
  margin-right: 20px;

  border: 1px solid #eaeaea;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-main-page .catalog-item:nth-child(3n) {
  margin-right: 20px;
}

.catalog-main-page .catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index:20;
}
.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}
.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: #ffffff;
  z-index: 10;
  }

.actions .button-purchase,
.actions .button-item-bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  border-radius: 3px;
}

.actions .button-item-bookmark {
  color:#32425c;
  background:white;
  border-bottom-color:#63a63e;
}

.button-purchase:hover,
.button-purchase:focus {
  background-color: #5fbb2d;
  border-color: #5fbb2d;
  border-bottom-color:#63a63e;
}

.button-purchase:active {
  background-color: #518534;
  border-color: #518534;
  border-bottom-color:#518534;
}

.button-item-bookmark:hover,
.button-item-bookmark:focus {
  border-color: #32425c;
}

.button-item-bookmark:active {
  opacity: 0.3;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item:focus .actions {
  display: block;
}

.catalog-item:hover,
.catalog-item:focus {
   box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item-image {
  width: 218px;
  height: 168px;
}

.catalog-item-image img{
  max-width:100%;
}

.catalog-category {
  padding: 0 30px;
  margin-top: 12px;

  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.item-old-price {
  margin-top: -10px;
  margin-bottom: 16px;

  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #a9a9a9;
  text-decoration: line-through;
  text-align: center;
}

.item-button {
  position: relative;
  bottom: -4px;
  width: 140px;
  margin-left: 43px;
  padding: 9px 34px;

  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;

  background-color: #ee3643;
  border-radius: 3px;
}

.catalog-item .item-button:after {
  content: "";
  position: absolute;
  top: 0;
  right: -28px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.brands-catalog {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 65px;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 143px;
  margin-bottom: 20px;
  margin-right: 20px;

  border: 1px solid #eaeaea;
}

.brand:nth-child(4n) {
  margin-right: 0;
}

.brand:hover,
.brand:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brand:active {
  opacity: 0.3;
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.services,
.about-item-wrapper {
  width: 100%;
  background-color: #f2f6f8;
  margin-bottom: 0;
}

.about-item,
.services-container{
  width: 940px;
  margin: 0 auto;
  padding-top: 41px;
}

.about-item {
  padding-bottom: 55px;
}

.services h2,
.about-item h2,
.info-columns h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.services-item {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 240px;
}

.service-item a {
  display: block;
  width: 194px;
  padding: 18px 23px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;

  background-color: #32425c;
  box-shadow:
    inset 0 1px 0 0 #405069,
    inset 0 -1px 0 0 #293449;
}

.service-item a:hover,
.service-item a:focus {
  background-color: #293449;
  box-shadow: none;
}

.service-item a:active {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: none;
}

.services-slider-inner h2 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  font-weight: normal;
}

.info-columns {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 72px auto;
  margin-top: 55px;
  padding: 0;
}

.information {
  width: 540px;
}

p.first-line {
  margin-bottom: 26px;
}

.contacts {
  display: block;
  width: 300px;
  padding: 0;
}

.contacts img {
  margin-top: 17px;
}

.contacts .button {
  display: block;
  width: 100%;
  padding: 10px 0;

  margin-top: 35px;
}

ul.transport {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 145px;
  padding-left: 35px;

  list-style: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.transport li {
  margin-bottom: 20px;
}

/*КАТАЛОГ*/

.heading-container {
  width: 940px;
  margin: 0 auto;
}

.big-container {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 20px 0;

  list-style: none;
}

.breadcrumbs a,
.breadcrumbs li {
  font: inherit;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs li {
  display: block;
  padding: 0 21px;
}

.breadcrumbs li:first-child {
  padding-left: 12px;
}

.catalog-heading {
  background-color: #f2f6f8;
}

.filters {
  width: 220px;
  margin-top: -13px;
}

.filters h3,
.sorting h3 {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
}

.filters h3 {
  padding: 10px 18px;

  background-color: #f7f3ec;
  border-radius: 2px;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filters ul {
  list-style: none;
  font-size: 17px;
  line-height: 20px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.4;
}

.range-style {
  background-color: #f7f3ec;
}

.price-controls input {
  box-sizing: border-box;
  width: 95px;
  padding: 11px 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;

  background-color: #f7f3ec;
  border: none;
  border-radius: 1px;
}

.filter-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #bbb5aa;
  outline: none;
}

.filter-button:active {
  background-color: #716f6b;
}

.catalog-container {
  width: 700px;
}

.sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 18px;
  padding-right: 105px;

  background-color: #f7f3ec;
  border-radius: 2px;
}

.sorting a {
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
  text-transform: uppercase;
  text-decoration: none;

  border-bottom: 1px dotted #ee3643;
}

.sorting h3,
.sorting a {
  margin: 10px 0px;
}

.sorting a:first-of-type {
  color: #ee3643;
  opacity: 1;
  margin-left: 70px;

  border: none;
}

.sorting a:hover,
.sorting a:focus {
 opacity: 1;
}

.sorting a:active {
  color: #ee3643;
  opacity: 1;

  border: none;
}

.catalog {
  margin-top: 20px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 57px;


  list-style: none;
}

.pagination-item a {
  display: block;
  width: 38px;
  height: 18px;
  padding: 10px 0;
  margin-right: 10px;

  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-item.next a{
  width: 140px;
}

.pagination-item a:hover,
.pagination-item a:focus{
  border: 1px solid #bdc6ca;
}

.pagination-item a:active {
  border: 1px solid #ee3643;
}

.pagination-item-current a {
  color: #ffffff;

  background-color: #ee3643;
  border: none;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #ffffff;

  background-color: #ee3643;
  border: none;
}


.main-footer {
  width: 100%;
  margin: 0;
}

.user-footer {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background-color: #32425c;
}

.user-footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 940px;
  padding: 0;
  padding-bottom: 32px;
  margin: 0 auto;
}

.main-logo-footer {
  display: inline-block;

  width: 136px;
  padding: 19px 42px;
  margin-bottom: auto;

  font-size: 30px;
  line-height: 30px;
  vertical-align: middle;

  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
  border-radius: 0;
}

p.footer-contacts {
  display: inline-block;
  width: 332px;
  margin-top: 15px;
  margin-left: 2px;
}

.footer-site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 546px;
  padding: 0;
  margin-top: 38px;
}

.footer-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 524px;
  margin-top: 15px;
}

.feedback-footer {
  margin: 0;
  padding: 20px 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.feedback-footer-container {
  display: flex;

  width: 940px;
  margin: 0 auto;
}

.copyright {
  display: block;
  width: 250px;
  margin-right: 123px;
}

ul.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 140px;
  margin-right: 120px;

  text-align: center;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: #212a3a;
}

.footer-info {
  display: block;
  width: 120px;
}

.footer-info.mail {
  width: 140px;
  margin-right: 50px;
}

.footer-items a,
.footer-info a {
  color: #ffd180;
}

.footer-site-navigation a,
.social-button {
  color: #ffffff;
}

.footer-items a:hover,
.footer-site-navigation a:hover,
.footer-items a:focus,
.footer-site-navigation a:focus
 {
  text-decoration: underline;
}

.footer-items a:active,
.footer-site-navigation a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-info a:hover,
.footer-info a:focus {
  text-decoration: underline;
}

.footer-info a:active {
  color: #ee3643;
  text-decoration: none;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ee3643;
}

.modal-map img {
  background-color: rgb(86, 86, 86);
  box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);
}

.modal {
  display: block;
  width: 620px;

  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);
  border-top: 7px solid #ee3643;
}

.modal-letter {
  height: 423px;
}

.letter-form label {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.letter-form input,
.letter-form textarea {
  font: inherit;

  line-height: 18px;
  color: #a9a9a9;

  border: 1px solid #dee3e4;
}


.letter-form input:hover,
.letter-form input:focus {
  color: #000000;
  outline-color: #7e7d7d;
}

.letter-form textarea:hover,
.letter-form textarea:focus {
  color: #000000;
  outline-color: #7e7d7d;
}

.modal-cart {
  height: 275px;
}

.modal-cart p {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.modal-bottom {
  width: 620px;
  height: 112px;
  background-color: #f1f1f1;
}

.button-modal-cart {
  color: #000000;

  background-color: #ffffff;
}
